.homeH4 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  margin: 20px 10px;
  float: right;
}
.homeSpan {
  font-weight: 500;
}
.homeContainer {
  background-image: url("../../images/130979.jpg");
  /* background-size: cover; */
  /* /* background-size: auto 100%; */
  background-size: 100% 100%;
  /* -webkit-filter: brightness(90%);*/
  /* filter: brightness(105%);  */
}
.homeImg {
  margin-top: 10px;
  float: right;
  width: 50px;
  height: 50px;
}
#rowOfBtns {
  margin-top: 535px;
  text-align: center;
}
.newHomeBtn {
  color:#4e342e;
  border-color: #4e342e;
  font-weight: bold;
  padding: 40px;
  margin-bottom: 300px;
}
.newHomeBtn:hover {
  color: white;
  background-color: #4e342e;
}
.pastHomeBtn{
  color: #15581a;
  border-color: #15581a;
  font-weight: bold;
  padding: 40px;
  margin-bottom: 300px;
}
.pastHomeBtn:hover {
  color: white;
  background-color: #15581a;
}
.analysisHomeBtn {
  color: #424242;
  border-color: #424242;
  font-weight: bold;
  padding: 40px;
  margin-bottom: 300px;
}
.analysisHomeBtn:hover {
  color: white;
  background-color: #424242;
}
