.container-fluid {
  background-image: url(../../images/130979.jpg);
  /* background-size: auto 100%; */
  background-size: 100% 100%;
  /* background-size: cover; */
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
  padding: 40px;
}
#selectDateRow {
  margin-top: 60px;
}
.offset-md-2 {
  margin-top: 60px;
}
.input-group {
  width: 600px;
  height: 500px;
}
/* .form-control {
  pointer-events: none;
} */
