.pastLogsContainer {
  background-image: url("../../images/130979.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: auto 100%;
  background-size: 100% 100%;
  background-size: cover; */
  /* -webkit-filter: brightness(90%);
  filter: brightness(90%);*/
}
.pastLogsH2 {
  font-family: 'Niramit', sans-serif;
  text-decoration: underline;
  margin-top: 60px;
}
#selectDateRow {
  margin-top: 80px;
}
.selectDateH4 {
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 20px;
}
.dateH4 {
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 10px;
}
#inputGroupPastLog {
  width: 600px;
  height: 785px;
}
#textAreaPastLog {
  pointer-events: none;
  background:rgba(255, 255, 255, 0.5);
  margin-bottom: 200px;
}
