.jumbotron {
  background-image: url(https://www.itl.cat/pics/b/23/233229_wallpaper-wide.jpg);
  /* background-size: auto 100%; */
  background-size: 100% 100%;
  /* background-size: cover; */
}
/* form {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  padding: 50px;
} */
.button {
  background-color: blue;
}
.login-btn {
  width: 180px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 15px;
}
.carousel-inner img {
  width: 550px;
  height: 550px;
  -webkit-filter: brightness(90%);
  filter: brightness(85%);
}
